
//SFProDisplay
@font-face {
  font-family: 'sfPro';
  src: url("./SFProDisplay/SFProDisplay-Regular.woff"),
  url("./SFProDisplay/SFProDisplay-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sfPro';
  src: url("./SFProDisplay/SFProDisplay-Medium.woff"),
  url("./SFProDisplay/SFProDisplay-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sfPro';
  src: url("./SFProDisplay/SFProDisplay-Semibold.woff"),
  url("./SFProDisplay/SFProDisplay-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
}


//PlayFairDisplay
@font-face {
  font-family: 'playFair';
  src: url("./PlayFairDisplay/PlayfairDisplay-Regular.woff"),
  url("./PlayFairDisplay/PlayfairDisplay-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'playFair';
  src: url("./PlayFairDisplay/PlayfairDisplay-Bold.woff"),
  url("./PlayFairDisplay/PlayfairDisplay-Bold.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'playFair';
  src: url("./PlayFairDisplay/PlayfairDisplay-Black.woff"),
  url("./PlayFairDisplay/PlayfairDisplay-Black.woff2");
  font-weight: 600;
  font-style: normal;
}

