$color-steel-teal: #5D7993;
$color-blue: #267AF6;
$color-azureish-white: #CFDBF1;
$color-radical-red: #FD3162;
$color-french-sky-blue: #AEC8FC;
$color-dark-gunmetal: #1B2432;

$dark-gunmetal: #1D202E;
$yankees-blue: #21273D;


$bg-alice-blue: #F3F6FB;